body{
    font-family: "roboto", sans-serif;
    margin: 0;
    padding-top: 80px;
}
a
{
    text-decoration: none;
    color: black;
}
/*header*/
header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 80px;
    width: 100%;
    background-color: #F2F2F2;
    z-index: 1;
    position: fixed;
    top: 0;
}
/*main*/
    /*section location*/
#location
{
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
}
.location__city
{
    border: none;
    background-color: #F2F2F2;
    font-size: 1.2em;
}
/*section explorer*/
#explorer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; 

}.explorer_text
{
    display: flex;
    justify-content: center;
}
.btn__explorerandcommand 
{
    display: flex; 
    justify-content: center;
   border: transparent solid 1px;
   background-color: #ff79da;
   border-radius: 30px;
   margin: 10px;
   padding: 15px;
   color: white;
   font-size: 20px;
   width: 300px;
   cursor: pointer;
}
.explorer__btn:hover
{
    box-shadow: #797070 3px 3px 6px 6px;
}   
 /*section fonctionnement*/
#fonctionnement
{
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
#fonctionnement__list
{
    display: flex;
    justify-content: space-around;
}
.fonctionnement__nombre
{
    position: absolute;
    background-color: #9356DC;
    border-radius: 500px;
    align-items: center;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    color: white;
    margin: 15px 0px 0 0;

}
.fonctionnement__btn
{
    display: flex;
    justify-content:right;
    align-items: center;
    border: 2px solid #f2f2f2;
    cursor: pointer;
    height: 50px;
    width: 250px;
    border-radius: 30px;
    margin-right: 20px;
    margin-left: 10px;
}
.fonctionnement__icone
{

    align-items: center;
    border-radius: 25px;  
    color: grey; 
}
.fonctionnement__text
{
    margin-left: 20px;
    margin-right: 20px;

}
.fonctionnement__btn:hover
{
    box-shadow: #353535 3px 3px 6px 6px;
    background-color: rgba(147, 86, 220, 0.2 );
    border: rgba(147, 86, 220, 0.2 );
}
    /*restaurant*/

#restaurant
{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: auto;
    background-color: #F2F2F2;
    
}
#restaurant__bloc
{

	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	grid-template-rows: 50% 50%;
    grid-column-gap: 1em;
    height: 600px;
}
.restaurant_boite
{
    border-radius: 10px;
    position: relative;  
    background-color: white;
    height: 250px;
    margin: 10px;
}
.restaurant_boite:hover
{
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: #797070 3px 3px 6px 6px;
}
.restaurant_card p
{
    position: absolute;
    padding: 10px;
    right: 5%;
    background-color:#99E2D0;
}
.restaurant_box
{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-left: 20px;
    margin-right: 40px;
}
.restaurant_titre h4, .restaurant_titre p
{
    margin: 2px;
}
.restaurant_boite:nth-child(1)
{
    grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 3;

}
.restaurant_boite:nth-child(2)
{
    grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 5;

}
.restaurant_boite:nth-child(3)
{
    grid-row-start:2 ;
	grid-row-end:3;
	grid-column-start: 1;
	grid-column-end: 3;


}
.restaurant_boite:nth-child(4)
{
    grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 5;

}
.restaurant_img
{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;

}
.heart-full
{

    width: 20px;
}

