header
{
    box-shadow: #d5d5d5 5px 5px 5px 5px;
}
/*main*/
    /*section location*/
#location
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    padding: 15px;
}
.location__city
{
    border: none;
    background-color: #eaeaea;
    font-size: 1.2em;
}
/*section explorer*/
#explorer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; 
    background-color: #f6f6f6;
    padding: 15px;

}.explorer_text
{
    display: flex;
    justify-content: center;
}
  
 /*section fonctionnement*/
#fonctionnement
{
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
#fonctionnement__list
{
    display: flex;
    justify-content: space-around;
}
.fonctionnement__nombre
{
    position: absolute;
    background-color: #9356DC;
    border-radius: 500px;
    align-items: center;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    color: white;
    margin: 15px 0px 0 0;

}
.fonctionnement__btn
{
    display: flex;
    justify-content:right;
    align-items: center;
    background-color: #f6f6f6;
    border: 2px solid #f2f2f2;
    cursor: pointer;
    height: 50px;
    width: 250px;
    border-radius: 30px;
    margin-right: 20px;
    margin-left: 10px;
}
.fonctionnement__icone
{

    align-items: center;
    border-radius: 25px;  
    color: grey; 
}
.fonctionnement__text
{
    margin-left: 20px;
    margin-right: 20px;

}
.fonctionnement__btn:hover 
{
    box-shadow: #e3e3e3 1px 1px 3px 3px;
    background-color: rgba(245, 237, 255, 1);
    border:rgba(245, 237, 255, 1);
}
.fonctionnement__btn:hover i
{
    color: #9356DC;
}
    /*restaurant*/

#restaurant
{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: auto;
    background-color: #F2F2F2;
    
}
#restaurant__bloc
{

	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	grid-template-rows: 50% 50%;
    grid-column-gap: 1em;
    height: 600px;
}
.restaurant_boite
{
    border-radius: 10px;
    position: relative;  
    background-color: white;
    height: 250px;
    margin: 10px;
}
.restaurant_boite:hover
{
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: #797070 3px 3px 6px 6px;
}
.restaurant_card p
{
    position: absolute;
    padding: 10px;
    right: 5%;
    background-color:#99E2D0;
    color: #42af94;
}
.restaurant_box
{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-left: 20px;
    margin-right: 40px;
}
.restaurant_titre h4, .restaurant_titre p
{
    margin: 2px;
}
.restaurant_boite:nth-child(1)
{
    grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 3;

}
.restaurant_boite:nth-child(2)
{
    grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 5;

}
.restaurant_boite:nth-child(3)
{
    grid-row-start:2 ;
	grid-row-end:3;
	grid-column-start: 1;
	grid-column-end: 3;


}
.restaurant_boite:nth-child(4)
{
    grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 5;

}
.restaurant_img
{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;

}
.far.fa-heart, .fas.fa-heart
{
    right: 25px;
    bottom: 13px;
}
@media screen and (max-width:1000px) 
{
    #fonctionnement__list
    {
        display: grid;
        grid-template-columns: 17% 17% 17% 17% 17% 17%;
        width: 100%;
        
    }
    .fonctionnement__boite:nth-child(1)
    {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 10px;
        margin-right: 25px;
    }
    .fonctionnement__boite:nth-child(2)
    {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 5;
        grid-column-end: 6;
        padding: 10px;
        margin-left: 25px;

    }
    .fonctionnement__boite:nth-child(3)
    {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
        padding: 10px;
    }
    footer
    {
        height: 100% !important;
        align-items: center;
 
    }
    #footer__titles
    {
        margin-left: 0% !important;
        margin-right: 0 !important;
        flex-direction: column;
        align-items: center;
    }  
}
@media screen and (max-width: 600px)
{

    #location
    {
        width: 100%;
    }
    #explorer
    {
        width: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: center;  
    }
    #fonctionnement__list
    {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        height: 100%;
        
    }
    .fonctionnement__boite:nth-child(1)
    {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-right: 0px !important;


    }
    .fonctionnement__boite:nth-child(2)
    {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-left: 0px !important;


    }
    .fonctionnement__boite:nth-child(3)
    {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;

    }
    #restaurant__bloc
    {
        display:flex;
        flex-direction: column;
        height: auto;
    }

}