body{
    font-family: "roboto", "shrikhand", sans-serif;
}
a
{
    text-decoration: none;
    color: black;
}

#header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 80px;
    background-color: #F2F2F2;
}
.location_search
{
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    
}
.location_city
{
    border: none;
    background-color: #F2F2F2;
}
.explorer_titre, .explorer_text
{
    display: flex;
    justify-content: center;
}

#explorer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; 
}
.btn_explorer 
{
    display: flex;
   justify-content: center; 
   border: transparent solid 1px;
   background-color: #ff79da;
   border-radius: 30px;
   margin: 10px;
   padding: 15px;
   color: white;
}
.btn_fonctionnement
{
    display: flex;
    justify-content:right;
    align-items: center;
    border: 2px solid #f2f2f2;
    height: 50px;
    width: 350px;
    border-radius: 30px;
    margin-right: 20px;
}
.fonctionnement_icone
{
    display:flex;
    justify-content:right;
    align-items: center;
    border-radius: 25px;  
    color: grey; 
}
.fonctionnement_list
{
    display: flex;
    justify-content: space-between;
}
.fonctionnement_text
{
    margin-left: 20px;
    margin-right: 20px;
}
.fonctionnement_nombre
{
    background-color: #9356DC;
    border-radius: 500px;
    align-items: center;
    display: flex;
}
#restaurant
{

    width: auto;
    background-color: #F2F2F2;
    
}
#restaurant h2
{
    margin-left: 330px;

}
.restaurant_bloc
{

	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	grid-template-rows: 50% 50%;
    grid-column-gap: 1em;
    height: 700px;
}
.restaurant_bloc :hover
{
    cursor: pointer;
    transform: scale(1.03)
}
.restaurant_boite
{
    border-radius: 10px;
    position: relative;  
    background-color: white;
    height: 300px;
}
.restaurant_card p
{
    position: absolute;
    padding: 10px;
    left: 60%;
    background-color: #99E2D0;
}
.restaurant_titre
{
    flex-direction: column;
}
.restaurant_boite:nth-child(1)
{
    grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
    box-shadow: #F2F2F2 3px 6px ;
}
.restaurant_boite:nth-child(2)
{
    grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
    box-shadow: #F2F2F2 3px 6px ;
}
.restaurant_boite:nth-child(3)
{
    grid-row-start:2 ;
	grid-row-end:3;
	grid-column-start: 2;
	grid-column-end: 3;
    box-shadow: #F2F2F2 3px 6px ;
    margin-top: 20px;
}
.restaurant_boite:nth-child(4)
{
    grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 4;
    box-shadow: #F2F2F2 3px 6px ;
    margin-top: 20px;
}
.restaurant_img
{
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;

}
.heart-full
{
    width: 20px;
}
#footer
{
    display: flex;
    flex-direction: column;
    background: #353535;
    color: white;
    height: 100px;
    padding: 20px;
}
.footer_titles
{
    display: flex;
    justify-content:space-around;
    margin-right:190px;
    margin-left: -60px; 
}

.footer_logo h2
{
    width: 110px;
    margin: 20px;
    font-family: "shirkhand";
    font-style: oblique;
    

}
.petitfoot
{
    color: white;
}
.petitfoot:hover
{
    border-bottom: white solid 1px;
}
