#header__arrow
{
    position: absolute;
    left: 8%;
}
.img__menu
{
    width: 100%;
    height:500px;
    object-fit: cover;
}
#menu
{
   position: relative;
    margin-top:-13em;
    background-color: #f6f6f6;
    border-radius: 30px 30px 0 0;
    width:100%;
    display: block;
    height: auto;
    margin-bottom: 50px;


}
.menu__header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 100px;
}
.menu__title 
{
    padding-top: 10px;
    font-family: "shrikhand", cursive;
}
.grid__menu
{

    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px; 

}
.grid__bloc
{
    width:32%
}
.grid__title
{
    width: 2.5rem;
    border-bottom: solid 3px #99E2D0;
    margin: .5rem 0 0 0;
}
.grid__boite
{   

    background-color: #fff;
    margin: 20px 20px 20px 0px ;
    cursor: pointer;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 10px #dedada; 
    animation: menuderoulement  2s ;
    animation-fill-mode: forwards;
    overflow: hidden;
}
@keyframes menuderoulement 
{
    0%
    {
        transform: translateY(50px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }    
}
.grid__platprix
{   
    display: flex;
    align-items: center;
    height: 80px;
}
.plat
{
    padding:0px 5%;
    width: calc (100% - 80px)
}
.plat h3, .plat p
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.grid__confirmation
{    
   position: absolute;
    right: -80px;
    display: flex;
    color:black;
    cursor: pointer;

}
.grid__platprix:hover  .plat h3, .grid__platprix:hover .plat p
{
    width: calc (100% - 60px);
}
.grid__confirmation:hover
{
    animation: slide 1s ;
    animation-fill-mode: forwards;
}
.grid__confirmation:hover i
{
    transform: rotate(360deg);
    transition-duration: 1.2s ;
}
.prix
{
    padding:20px 20px 20px 20px;
}
.fa-check.fas
{   
    padding: 40px 30px 30px 30px ;
    align-items: center;
    
}
@keyframes slide
{
    0%
    {
        transform: translateX(0px);

    }
    100%
    {
        transform: translateX(-80px);

    }    
}
.check
{
    font-size: 20px;
    background-color: #99e2d0;
    color:white; 
    border-radius: 0 1.5rem 1.5rem 0 ;
}
.grid__commander
{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
@media screen and (max-width: 1100px)
{ 
    .grid__menu
    {
        flex-direction: column;
    }
    .grid__platprix
    {
        width: 100%;
    }
    .grid__bloc
    {
        width: 92%;
        margin: auto;
    }
    
}